<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <p class="font-secondary paragraph-lg text-dark"><%= raw(profile_settings[:basic_intro])%></p>
        <a href="/about" class="btn btn-transparent">know more</a>
      </div>
    </div>
  </div>
</section>
