<div class="collapse navbar-collapse text-center" id="navigation">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item active">
      <a class="nav-link" href="index.html">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">about</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://www.devtechnica.com">Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/resume_of_sreedev_kodichath.pdf" style="color: #FA9E2E;" download>Resume</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact">Contact</a>
    </li>
  </ul>
</div>
