<%if services.present? %>
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Services</h2>
      </div>
      <% services.each do |service|%> 
        <div class="col-md-4 mb-4 mb-md-0">
          <div class="card <%="active-bg-primary" if service.order.to_i.even? %> hover-shadow shadow">
            <div class="card-body text-center px-4 py-5">
              <i class="<%=service.icon%> icon mb-5 d-inline-block"></i>
              <h4 class="mb-4"><%=service.title%></h4>
              <p><%=service.description%></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<% end %>
