<%= form_tag '/messages', method: :post, class: 'row', remote: true, id: "contact-form-footer" do %>
  <div class="col-md-6">
    <input type="text" id="name" name="message[full_name]" placeholder="Full Name" class="form-control px-0 mb-4" required>
  </div>
  <div class="col-md-6">
    <input type="email" id="email" name="message[email]" placeholder="Email Address" class="form-control px-0 mb-4" required/>
  </div>
  <div class="col-12">
    <textarea name="message[text]" id="text" class="form-control px-0 mb-4" placeholder="Type Message Here" required></textarea>
  </div>
  <div class="col-lg-6 col-10 mx-auto">
    <button class="btn btn-primary w-100" id="send_footer_email">send</button>
  </div>
<% end %>
